.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding-top: 92px;
  padding-left: 50px;
  padding-bottom: 96px;
  padding-right: 50px;
  justify-self: center;
}

.header_menu {
    display: flex;
    padding-right: 36.52px;
}

.header_menu_links{ 
    display: flex;  
    gap: 32px;  
    list-style-type: circle;  
    padding-right: 3px;
}

.header_links{
    font-size: 18px;  
    font-weight: 400;  
    text-underline-offset: 4px;
}

.main_link {
    text-decoration: none;
}

.header_main{
    text-decoration: none;
    list-style-type: none;
}



.logo {
    background-image: url(images\logo-black.svg);
    display: flex;
    flex-direction: column;
    justify-self: center;
    height: 105px;
    width: 148px;

}

.address {  
    padding-left: 185px;  
    font-size: 18px;  
    line-height: 24.3px;  
    letter-spacing: 0.18px;  
    font-family: "Raleway", sans-serif;  
    list-style-type: none;  
    font-style: normal; 
    text-underline-offset: 4px;
}


.cover {
  position: relative;
  width: 1100px;
  height: 757px;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  color: white;
  text-transform: uppercase;
  z-index: 0;
  background-repeat: no-repeat;
  background-position: center;
}

.overlay {  
    top: 0;  
    left: 0;  
    right: 0;  
    bottom: 0;  
    position: absolute;  
    background-color: rgba(0, 0, 0, 0.6);  
    width: 100%;  
    height: 100%;  
    z-index: -1;
}

.cover_title {  
    display: flex;  
    flex-direction: column;  
    padding: 165px 50px 105px;  
    gap: 20px;   
    text-align: center;
}

.cover_title  
.span {  
    font-size: 100px;  
    font-weight: 700;  
    line-height: 100%;  
    letter-spacing: 30px;
}

.text_cover { 
    font-size: 100px;    
    align-self: flex-start;  
    line-height: 115%;  
    transform: translateY(2px);  
    text-align: center;    
    word-spacing: 5px; 
    letter-spacing: 30px;
}

.text_center {  
    padding-left: 30px;
    align-self: center;    
    text-align: center;
}

.text_right {  
    align-self: flex-end;    
    text-align: right; 
    letter-spacing: 0px;
} 

.text_cover 
.spacing  {  
    letter-spacing: 30px;  
} 

.text_cover 
.no_spacing_ok {   
    letter-spacing: 30px; 
}

.text_cover 
.half_spacing {   
    letter-spacing: 30px;
}

.text_cover 
.no_spacing {   
    letter-spacing: 30px;
}

.description {  
    display: flex;  
    align-items: baseline;  
    justify-content: space-around;  
    padding: 0px 50px 50px 50px; 
    gap: 110px;

}

.description_text {  
    font-size: 22px;  
    font-weight: 400;  
    line-height: 28px;  
    word-spacing: 18px;
}

button {   
    width: 256px;
    border: 1px solid white;  
    background-color: transparent;  
    font-family: "Raleway", sans-serif;  
    color: #fff;  
    font-size: 22px;  
    line-height: 49px;  
    font-weight: 500;
    text-align: center;
}

.heading_lots {
  padding-top: 180px;
  padding-bottom: 24px;  
  padding-left: 64px;  
  color: #000;  
  font-size: 40px;  
  font-weight: 700;  
  text-transform: uppercase;
}

.container_lots {  
    display: flex;  
    flex-wrap: wrap;  
    list-style-type: none;  
    gap: 25px;  
    justify-content: flex-start;   
    padding: 1;   
    margin: 0 auto; 
    margin-left: 24px; 
}
    
.card_lots {  
    max-width: 334px; 
     min-height: 563px;  
     flex-grow: 1;
}
    
.card {  
    position: relative;  
    height: 596px;
    width: 334px;  
    display: flex;  
    flex-direction: column;  
    z-index: 1;  
    padding: 40px 40px 48px;  
    justify-content: space-between;  
    background-size: cover;  
    background-repeat: no-repeat;  
    background-position: center;
}
    
.card_type_film {  
    background-image: url(./../images/card-lot-01.jpg);
}
    
    .card_type_book {  
        background-image: url(./../images/card-lot-02.jpg);
    }
    
    .card_type_picture {  
        background-image: url(./../images/card-lot-03.jpg);
    }
    
    .card_title {  
        padding-top: 11px;
        color: white;  
        font-size: 22px;  
        font-weight: 700;  
        line-height: 120%;  
        text-decoration-line: underline;  
        text-transform: uppercase;
        text-underline-offset: 2px;
    }
    
    .text_on_card {  
        color: white;  
        font-size: 20px;  
        font-style: normal;  
        font-weight: 400;  
        line-height: 120%;
    }
    
    .view_more {  
        display: block;  
        text-underline-offset: 3px;  
        padding-top: 35px;  
        color: black;  
        font-size: 20px;  
        font-weight: 400;  
        line-height: 23.48px;  
        margin-left: 64px;
    }


.about {
  margin-top: 120px;
}

.about_container {
  display: grid;  
  grid-template-columns: 334px repeat(1, 1fr);  
  gap: 25px;  
  padding: 34px 24px 0px;
}

.about_logo {  
    justify-self: center;  
    background-color: #000;  
    border-radius: 50%;  
    width: 240px;  
    height: 240px;  
    display: flex;  
    justify-content: center;  
    align-items: center;
}

.about_logo_image {  
    width: 148px;  
    height: 114px;
}

.about_content {  
    display: flex;  
    flex-direction: column;  
    gap: 24px;  
    padding-top: 100px;
}

.title_about {  
    color: black;  
    font-size: 40px; 
    font-weight: 700;  
    line-height: 46.96px;
}

.about_text {  
    align-self: flex-start;  
    font-family: "Raleway", sans-serif;  
    color: black;  font-size: 20px;  
    font-weight: 400;  
    line-height: 24px;
}

.text_up {  
    padding-top: 76px;
} 

.text_down {
    padding-top: 25px;
}

.footer {
  display: grid;
  grid-template-columns: auto 1fr auto;
  padding: 180px 50px 88px;
  gap: 140px;
   align-items: flex-start;
}

.footer_address {
  font-style: normal;
  padding-left: 0px; 
}

.footer_menu { 
    padding-left: 35px;
}

.footer_menu_links {  
    list-style-type: none;  
    text-underline-offset: 3px;
}

.footer_links {  
    color: black; 
    text-align: center;  
    font-size: 18px;  
    font-weight: 400;  
    line-height: normal;
}

.footer_main {  
    text-decoration: none;
}

.images_footer {  
    width: 48px;  
    height: 48px;
}

.footer_images {  
    display: flex;  
    gap: 48px;
}/* место для вашего кода */
